# Data manipulation and analysis
pandas
numpy 

# Data visualization
matplotlib
seaborn
plotly  # Optional for interactive plots

# Statistical analysis
scipy
# statsmodels

# # Machine learning
# scikit-learn
# xgboost

# # Model interpretability
# shap

# # Data Version Control
# dvc

# # Others
# jupyterlab   # Optional for interactive notebooks
